/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-12-13, 11:18:41
    Author     : Karol
*/
.row::after {
    content: "";
    clear: both;
    display: table;
}
.header {
    background-color: #9933cc;
    color: #ffffff;
    padding: 15px;
    text-align: center;
}
.btn pull-right{
   align: center;
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #33b5e5;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.menu li:hover {
    background-color: #0099cc !important;
}

.html, body, .container-table {
    height: 100%;
}
.container-table {
    display: table;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}
body{
  background: #cce6ff;
}
.navbar-default{
   background-color: #004466;
   border-color: #204d74;  
}
.navbar-default .navbar-nav>li>a {
    color: #ffffff;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #0aa0f0;
}
.navbar-default .navbar-brand {
    color: #ffffff;
}
.navbar-default .navbar-brand:hover {
    color: #0aa0f0;
}
.header > h1{
   color: #260033;
}
.fa-border {
    border-color : #cce6ff
}

.navbar-bottom {

margin-top: 100px;
background-color: #28364f;
padding-top: 35px;
color:#FFFFFF;
}
